.cards{
    
  margin-top: 5%;
    .ceo{
        
        background-color: blueviolet;
        padding: 5px;
        font-size: 150%;
        border: solid 2px white;
        border-radius: 12px;
        color: black;
        position: absolute;
        transform: translate(-150%, 580%);
    }
}